<h2 class="title"><%= link_to "Cart", products_path%></h2>

<div class="subtitle has-text-right">
  <div class="dropdown is-hoverable" >
    <div class="dropdown-trigger">
      <button class="button is-light mb-3" aria-haspopup="true" aria-controls="dropdown-menu4">
        <span>Filter</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu has-text-left" id="dropdown-menu4" role="menu">
      <div class="dropdown-content">
        <p class="dropdown-item"><%= link_to "Top Products", products_path%></p>
        <p class="dropdown-item"><%= link_to "Recently Posted", filter_products_path(:filter => "recently_posted") %></p>
        <p class="dropdown-item"><%= link_to "Recently Updated", filter_products_path(:filter => "recently_updated") %></p>
      </div>
    </div>
  </div>
<div>

<div class="has-text-left">
  <div>
  <%= render cart %>
  </div>

  <div class="m-6">
  <div>
</div>

<%# TODO: Style %>