<h2 class="title"><%= link_to "Cart", cart_index_path%></h2>

<div class="card mb-3 is-flex">

  <div class="card-content">
    <figure class="media-content">
      <div>
        <p class="title is-4"><%= link_to product.name, product %></p>
        <p class="title is-6">$<%= '%.2f' % product.price %></p>
      </div>
      <div>
        <p class="subtitle is-6 has-text-grey-light has-text-right">
          <%= product.categories.first.name  %>
        </p>
        <p class="subtitle is-6 has-text-grey-light has-text-right">
          Posted <%= (DateTime.now - DateTime.parse(product.created_at.strftime("%Y-%m-%d"))).to_i %> days ago
        </p>
      <div>
    </figure>

  <%= form_with  url: cart_index_path, method: :post do %>
    <%= hidden_field_tag(:id, product.id) %>
    <%= button_tag 'Checkout', class: "button is-primary" %>
  <% end %>
</div>