<h2 class="title"><%= link_to "Cart", cart_index_path%></h2>

<div class="card mb-3 is-flex">

  <div class="card-content">
    <div class="content">
      <h3 class="subtitle has-text-grey-dark">Checkout</h3>

      <h3 class="subtitle is-6 has-text-grey">Items</h3>
      <ul>
        <%= render partial: 'item', collection: @invoice_items %>
      </ul>

      <h3 class="subtitle is-6 has-text-grey">Province</h3>
      <div class="control mt-2">
        <div class="select is-fullwidth">
          <select name="province" id="province">
            <option disabled>Choose Province...</option>
            <% @provinces.each do | province | %>
              <option value="<%=province.id%>"><%= province.name %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>

    <h3 class="subtitle has-text-grey">Invoice</h3>
    <ul>
      <% @invoice_items.each do | item | %>
        <li><%= item.price %> x Qty</li>
      <% end %>
    </ul>
</div>