<h2 class="title"><%= link_to "Products", products_path%></h2>

<div class="has-text-right">
  <div class="dropdown is-hoverable" >
    <div class="dropdown-trigger">
      <button class="button is-light mb-3" aria-haspopup="true" aria-controls="dropdown-menu4">
        <span>Filter</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu has-text-left" id="dropdown-menu4" role="menu">
      <div class="dropdown-content">
        <p class="dropdown-item"><%= link_to "Top Products", products_path%></p>
        <p class="dropdown-item"><%= link_to "Recently Posted", filter_products_path(:filter => "recently_posted") %></p>
        <p class="dropdown-item"><%= link_to "Recently Updated", filter_products_path(:filter => "recently_updated") %></p>
      </div>
    </div>
  </div>
<div>

<% if params[:filter] == "recently_posted" %>
  <h3 class="subtitle is-5 mt-5 mb-2 has-text-left ">Recently Posted</h3>

  <div class="has-text-left">
  <%= render filter_products_path(:filter => "recently_posted"), collection: @recently_posted %>
  </div>

  <%= will_paginate @recently_posted %>
<% end %>

<% if params[:filter] == "recently_updated" %>
  <h3 class="subtitle is-5 mt-5 mb-2 has-text-left ">Recently Updated</h3>

  <div class="has-text-left">
    <%= render @filter, collection: @recently_updated %>
  </div>

  <%= will_paginate @recently_updated %>
<% end %>
