<h2 class="title"><%= link_to "Products", products_path%></h2>

<h3 class="subtitle is-5 mt-5 mb-2">
  Found <%= pluralize(@products.count, 'Product') %>
  when searching for: "<%= params[:keywords] %>"

  <% if params[:search_category] != "" %>
    in <%= Category.where(id: params[:search_category]).first.name %>
  <% end %>
</h3>

<div class=" mr-4">
 <%= render @products %>
</div>

<%= will_paginate @products %>
