<h2 class="title"><%= link_to "Products", products_path%></h2>

<h3 class="subtitle">
  <%= link_to @product.name, @product %>
  <% @categories.each do | category |%>
    - <%= link_to category.name, category %>
  <% end %>

<div class="columns mt-5">
  <div class="column is-two-thirds">
    <h5 class="subtitle is-5">$<%= '%.2f' % @product.price %><h5>
    <h5 class="subtitle is-5 mb-2">Description<h5>
    <p><%= simple_format(@product.description) %></p>
    <br><br>
    <h5 class="subtitle is-5 mb-2">Pokémon Details<h5>
    <p>Name: <%= @product.pokemon_name %> #<%= @product.pokemon_number %></p>
    <p>Type: <%= @product.pokemon_type %></p>
  </div>
  <div>
    <% if @product.image.present? %>
      <div class="card-image m-3">
        <figure class="image">
          <%= image_tag @product.image%>
        </figure>
      </div>
    <% end %>
  </div>
</div>

<p class="subtitle is-6 has-text-grey-light has-text-right m-1">
  Posted <%= (DateTime.now - DateTime.parse(@product.created_at.strftime("%Y-%m-%d"))).to_i %> days ago
</p>
<% if @product.updated_at != @product.created_at %>
  <p class="subtitle is-6 has-text-grey-light has-text-right">
    *Updated <%= (DateTime.now - DateTime.parse(@product.updated_at.strftime("%Y-%m-%d"))).to_i %> days ago
  </p>
<% end %>