<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>

  <body>
    <div class="columns pt-6">
      <%= render partial: 'common/menu' %>
      <div class="column is-two-thirds ml-6">
        <div class="container level mb-4">
          <div>
            <%= render_breadcrumbs :separator => ' >> ' %>
          </div>
          <div class="has-text-right">
            <%= link_to image_tag("shopping-cart.png", width: 50), cart_index_path %>
            <ul>
              <li>
                <% if cart.present? %>
                  <sup><%= cart.size %></sup>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

        <nav>
        </nav>

        <% if flash[:notice] %>
          <p><%= flash[:notice] %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
